:root {
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(/images/pattern-background-desktop.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
}

.container {
    background-color: var(--Verypaleblue);
    width: 50%;
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0, .3);
    text-align: center;
    padding-bottom: 20px;
}

.main_img {
    flex: 1;
    min-width: 50%;
    min-height: 200px;
    background-image: url(/images/illustration-hero.svg);
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

.main_title {
    color: var(--Darkblue);
    font-size: 18px;
    margin-bottom: 15px;
}

.main_paragraph {
    font-size: 14px;
    margin: 0 50px;
    margin-bottom: 20px;
    color: var(--Desaturatedblue);
}

.main_plan {
    background-color: var(--Paleblue);
    height: 70px;
    margin: 20px 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_plans{
    position: absolute;
    font-weight: bold;
    color: var(--Darkblue);
}
.main_value{
    color: var(--Desaturatedblue);
    position: absolute;
    font-size: 12px;
    margin-top: 45px;
}
.main_music {
    float: right;
}
.main_change{
    margin-right: 20px;
    color: var(--Brightblue);
}

.main_button{
    background-color: var(--Brightblue);
    height: 40px;
    border-radius: 10px;
    margin: 20px 50px;
    box-shadow: 0 5px 10px -5px var(--Brightblue);
}
.main_cta{
    color: var(--Verypaleblue);
    text-decoration: none;
    position: absolute;
    margin: 10px -80px;
}

.main_cancel{
    text-decoration: none;
    align-items: center;
}

@media (max-width: 375px) {
    .container {
        width: 90%;
        max-width: 375px;
        border-radius: 10px;
        box-shadow: none;
        flex-direction: column;
        align-items: stretch;
        display: flex;
        justify-content: center;
    }
    
    .main_img {
      min-height: 150px;
    }
    
    .main_title {
      font-size: 16px;
      margin-bottom: 10px;
    }
    
    .main_paragraph {
      font-size: 12px;
      margin: 0 20px;
      margin-bottom: 15px;
    }
    
    .main_plan {
      height: 60px;
      margin: 10px 20px;
    }
    
    .main_plans {
      font-size: 12px;
      position: absolute;
      padding: 0 1.5em;
    }
    
    .main_value {
      font-size: 10px;
      margin-top: 40px;
      position: absolute;
      padding: 0em 1.8em;
    }
    
    .main_music {
      display: none;
    }
    
    .main_change {
      margin-right: 10px;
      font-size: 10px;
    }
    
    .main_button {
      height: 30px;
      margin: 10px 20px;
    }
    
    .main_cta {
      margin: 5px -60px;
      font-size: 12px;
    }
    
    .main_cancel {
      font-size: 12px;
    }
  }
  